<!-- <!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title><%=title%></title>
</head>
<body>

	=   转义输出
	这是login.ejs页面
	
	<form action='http://localhost:3001/logins' method='post'>
		<input type="text" name='username'>
		<input type="password" name='password'>
		<button type='submit'>登录</button>
	</form>
	
</body>
</html> -->