
	<div class="container" id='container'>
		<header class="header">
			<span class='left' ui-sref='mine_set'>&#xf053;</span>
			<h1 class='h1'>关于我们</h1>
		</header>
		<main class="main" id='main' about-s>
			<div class="scroller">
				<h2  class='about_h2'>我们的风控团队</h2>
				<p class='about_con'>资金的流转全部在第三方支付平台实现，资金的每一次流动都能被投资者清晰地监控。我们还同时委托了第三方银行对我们的投资人和项目提供线上支付和提现服务。随手理财在金融支付领域排名第一，是首批获得央行颁发的《支付业务许可证》的企业。</p>
				<div class='img'><img src="../img/about1.jpg" alt=""></div>
				<h2  class='about_h2'>我们的风控方式</h2>
				<p class='about_con'>       资金的流转全部在第三方支付平台实现，资金的每一次流动都能被投资者清晰地监控。我们还同时委托了第三方银行对我们的投资人和项目提供线上支付和提现服务。随手理财在金融支付领域排名第一，是首批获得央行颁发的《支付业务许可证》的企业。</p>
				<div class='img'><img src="../img/about2.jpg" alt=""></div>


			</div>		
		</main>
	</div>
