

	<div class="container" id='container'>
		<header class="header">
			<span class='left' ui-sref='mine_set'>&#xf053;</span>
			<h1 class='h1'>我的银行卡</h1>
			<span class='right_me'>&#xf067;</span>
		
		</header>
		<main class="main" id='main' bankcard-s>
			<div class="scroller">
				<ul class='bankcard_list'>
					<li><img src="../img/card1.png"></li>
					<li><img src="../img/card2.png"></li>
					<li><img src="../img/card3.png"></li>
					<li><img src="../img/card4.png"></li>
				</ul>
				<h4 class='bank_h4'>投保“银行卡安全险”，用卡更放心</h4>
			</div>		
		</main>
	</div>
