	

	<div class="container" id='container' >
		<header class="header">
			<span class='left' style='display:none'>&#xf046;</span>
			<h1 class='h1'>理财铺</h1>
			<span class='right'  ui-sref="licaikepu"></span>
		</header>
		<nav class='nav_licai' id='nav_licai'>
			<a href="#small">小额产品</a>|<a href="#big">大额理财</a>|<a href="#kepu" class='kepu'>理财科普</a><span class='line'></span>
		</nav>
		<main class="main" id='main' licai-s>
				<section id='small'>
					<div class="scroller">
						<!-- <div class='con'>
							<h2>大众理财<span>理财入门</span></h2>
							<ul>
								<li><b class='red'>18.5%</b><br>预计年化收益</li>
								<li><em>3天</em><br>投资期限</li>
								<span ui-sref="licaikepu">立即投资</span>
							</ul>
						
							<p>新手体验，开启理财第一步</p>
						</div> -->
					<!-- <div class='con'>
						<h2>月息宝 <span>短期理财</span></h2>
						<ul>
							<li><b class='red'>12.5%</b><br>预计年化收益</li>
							<li><em>3个月</em><br>投资期限</li>
							<span  ui-sref="licaikepu">立即投资</span>
						</ul>
						<p>短期理财，随时保持资金灵活</p>
					</div> -->
					<!-- <div class='con'>
						<h2>聚宝盆 <span>大额理财</span></h2>
						<ul>
							<li><b class='red'>16.5%</b><br>预计年化收益</li>
							<li><em>2年</em><br>投资期限</li>
							<span>立即投资</span>
						</ul>
						<p>大额理财，高收益也安全</p>
					</div> -->
					<!-- <div class='con'>
						<h2>成长计划<span>儿童理财</span></h2>
						<ul>
							<li><b class='red'>11.5%</b><br>预计年化收益</li>
							<li><em>5年</em><br>投资期限</li>
							<span>立即投资</span>
						</ul>
						<p>儿童理财，理财要从娃娃抓</p>
					</div> -->
					<div class='img'>
						<img src="img/licai1.png" alt="">
					</div>
					</div>
				</section>
				<section id='big'>
					<div class='scroller'>
						<div class='con'>
						<h2>大众理财<span>理财入门</span></h2>
						<ul>
							<li><b class='red'>big</b><br>预计年化收益</li>
							<li><em>3天</em><br>投资期限</li>
							<span  ui-sref="licaikepu">立即投资</span>
						</ul>
						<p>新手体验，开启理财第一步</p>
					</div>
					<div class='con'>
						<h2>月息宝 <span>短期理财</span></h2>
						<ul>
							<li><b class='red'>12.5%</b><br>预计年化收益</li>
							<li><em>3个月</em><br>投资期限</li>
							<span>立即投资</span>
						</ul>
						<p>短期理财，随时保持资金灵活</p>
					</div>
					<div class='con'>
						<h2>聚宝盆 <span>大额理财</span></h2>
						<ul>
							<li><b class='red'>16.5%</b><br>预计年化收益</li>
							<li><em>2年</em><br>投资期限</li>
							<span>立即投资</span>
						</ul>
						<p>大额理财，高收益也安全</p>
					</div>
					<div class='con'>
						<h2>成长计划<span>儿童理财</span></h2>
						<ul>
							<li><b class='red'>11.5%</b><br>预计年化收益</li>
							<li><em>5年</em><br>投资期限</li>
							<span>立即投资</span>
						</ul>
						<p>儿童理财，理财要从娃娃抓</p>
					</div>
					</div>
				</section>
				<section id='kepu'>
					<div class='scroller'>
						<div class='con'>
						<h2>大众理财<span>理财入门</span></h2>
						<ul>
							<li><b class='red'>kepu</b><br>预计年化收益</li>
							<li><em>3天</em><br>投资期限</li>
							<span  ui-sref="licaikepu">立即投资</span>
						</ul>
						<p>新手体验，开启理财第一步</p>
					</div>
					<div class='con'>
						<h2>月息宝 <span>短期理财</span></h2>
						<ul>
							<li><b class='red'>12.5%</b><br>预计年化收益</li>
							<li><em>3个月</em><br>投资期限</li>
							<span>立即投资</span>
						</ul>
						<p>短期理财，随时保持资金灵活</p>
					</div>
					<div class='con'>
						<h2>聚宝盆 <span>大额理财</span></h2>
						<ul>
							<li><b class='red'>16.5%</b><br>预计年化收益</li>
							<li><em>2年</em><br>投资期限</li>
							<span>立即投资</span>
						</ul>
						<p>大额理财，高收益也安全</p>
					</div>
					<div class='con'>
						<h2>成长计划<span>儿童理财</span></h2>
						<ul>
							<li><b class='red'>11.5%</b><br>预计年化收益</li>
							<li><em>5年</em><br>投资期限</li>
							<span>立即投资</span>
						</ul>
						<p>儿童理财，理财要从娃娃抓</p>
					</div>
					</div>
				</section>
		</main>
		<footer class="footer">
			<a ui-sref="index" ><br>首页</a>
			<a ui-sref="licai" class='on'><br>理财铺</a>
			<a ui-sref="shenghuo"><br>生活</a>
			<a ui-sref="mine"><br>我的</a>
		</footer>
	</div>





