
	<div class="container" id='container' >
		<header class="header">
			<span class='left' ui-sref='mine'>&#xf053;</span>
			<h1 class='h1'>基本设置</h1>
		
		</header>
		<main class="main" id='main' mset-s>
			<div class="scroller">
				<ul class='set_top'>
					<li><img src="../img/me9.jpg"></li>
					<li>头像昵称</li>
					<li><img src="../img/right.png"></li>
				</ul>
				<ul class='set_list'>
					<li><b>登录账号</b><span>182****6608</span><small><img src="../img/right2.png"></small></li>
					<li><b>实名认证</b><span>已认证</span><small><img src="../img/right2.png"></small></li>
					<li class='bankcard' ui-sref='bankcard'>添加银行卡<small><img src="../img/right2.png"></small></li>
				</ul>
				<ul class='set_list'>
					<li><b>修改密码</b><small><img src="../img/right2.png"></small></li>
					<li><b>手势密码</b><small><img src="../img/right2.png"></small></li>
				</ul>
				<ul class='set_list'>
					<li><b>消息</b><small><img src="../img/right2.png"></small></li>
					<li class='about' ui-sref='about'><b>关于我们</b><small><img src="../img/right2.png"></small></li>
					<li><b>帮助与反馈</b><small><img src="../img/right2.png"></small></li>
					<li><b>分享给好友</b><small><img src="../img/right2.png"></small></li>
				</ul>
	
				<div class='tixian_btn'>退出当前账号</div>
			</div>		
		</main>
	</div>

