
	<div class="container" id='container'>
		<header class="header">
			<span class='left' ui-sref='mine'>&#xf053;</span>
			<h1 class='h1'>积分商城</h1>
		</header>
		<main class="main main_shop" id='main' mshop-s>
			<div class="scroller">
				<div class='shop'>
					<div class='img'>
						<img src="../img/shop.png">
					</div>
					<h1 class='shop_h1'>积分商城</h1>
					<section class='shop_list'>
						<!-- <dl>
							<dt><img src="../img/shop1.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/shop2.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/shop3.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/shop4.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/shop5.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/shop6.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/shop7.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/shop8.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/shop9.jpg"></dt>
							<dd>
								<h2>真彩眼影</h2>
								<p>Cost <b class='red'>100</b>分</p>
							</dd>
						</dl> -->
					</section>
				</div>
			</div>		
		</main>
		<footer class="footer">
			<a ui-sref="index"><br>首页</a>
			<a ui-sref="licai"><br>理财铺</a>
			<a ui-sref="shenghuo"><br>生活</a>
			<a ui-sref="mine" class='on'><br>我的</a>
		</footer>
	</div>


