
	<div class="container" id='container'>
		<header class="header">
			<span class='left' ui-sref='mine'>&#xf053;</span>
			<h1 class='h1'>账单明细</h1>
			<span class='right_me'>筛选</span>
		
		</header>
		<main class="main" id='main' maccount-s>
			<div class="scroller">
				<h2 class='acc_h2'><b>本月</b><span>查看月账单</span></h2>
				<ul class='acc_list'>
					<li><span>今天<br>14:20</span> <span><b>-140</b>元<br>优惠购北京移动500M流量</span></li>
					<li><span>今天<br>7-18</span> <span><b>-360</b>元<br>支付宝天猫商城账单支付</span></li>
					<li><span>周二<br>7-17</span> <span><b>+1200</b>元<br>好友清风向您的账户转入金额</span></li>
					<li><span>今天<br>14:20</span> <span><b>-140</b>元<br>优惠购北京移动500M流量</span></li>
					<li><span>今天<br>14:20</span> <span><b>-140</b>元<br>优惠购北京移动500M流量</span></li>
					<li><span>今天<br>14:20</span> <span><b>-140</b>元<br>优惠购北京移动500M流量</span></li>
					<li><span>今天<br>14:20</span> <span><b>-140</b>元<br>优惠购北京移动500M流量</span></li>
					<li><span>今天<br>14:20</span> <span><b>-140</b>元<br>优惠购北京移动500M流量</span></li>
				</ul>
			</div>		
		</main>
	</div>


