
	<div class="container" id='container'>
		<header class="header" ui-sref='shenghuo'>
			<span class='left'>&#xf053;</span>
			<h1 class='h1'>游戏充值</h1>
			<span class='right_me'>&#xf002;</span>
		</header>
		<main class="main" id='main' shgame-s>
			<div class="scroller">
				<div class='swiper-container'>
					<ul class='swiper-wrapper'>
						<li class='swiper-slide'><img src="../img/game1.png"></li>
						<li class='swiper-slide'><img src="../img/game1.png"></li>
						<li class='swiper-slide'><img src="../img/game1.png"></li>
					</ul>
					<div class='pagination'>
						<span class='pagination-swiper-switch swiper-active-switch'></span>
						<span class='pagination-swiper-switch'></span>
						<span class='pagination-swiper-switch swiper-active-switch'></span>			
					</div>
				</div>
				<div class='game_list'>
					<dl>
						<dt><img src="../img/game2.png"></dt>
						<dd>
							<h3>游戏视频直播</h3>
							<p>电竞、战队、大神、主播，精彩集汇！</p>
						</dd>
					</dl>
					<dl>
						<dt><img src="../img/game3.png"></dt>
						<dd>
							<h3>游戏礼包</h3>
							<p>手游端游页游礼包荟萃，淘尽所有游戏</p>
						</dd>
					</dl>
					<dl>
						<dt><img src="../img/game4.png"></dt>
						<dd>
							<h3>游戏充值</h3>
							<p>魔兽世界、DNF、天龙八部等</p>
						</dd>
					</dl>
					<dl>
						<dt><img src="../img/game5.png"></dt>
						<dd>
							<h3>Q币充值</h3>
							<p>Q币、CF、LOL、会员等</p>
						</dd>
					</dl><dl>
						<dt><img src="../img/game6.png"></dt>
						<dd>
							<h3>电视游戏充值</h3>
							<p>适用于天猫魔盒、YunOS电视盒及电视</p>
						</dd>
					</dl>
				</div>
			</div>		
		</main>
	</div>


