
	<div class="container" id='container'>
		<header class="header">
			<span class='left' ui-sref='shenghuo'>&#xf053;</span>
			<h1 class='h1'>手机充值</h1>
		</header>
		<main class="main" id='main' shcz-s>
			<div class="scroller">
				<div class='img'>
					<img src="../img/sh_banner.png">
				</div>
				<nav class='chongzhi_nav'>
					<span>充话费</span>
					<span>充流量</span>
				</nav>
				<div class='haoma'>
					<p>182  1021  6608 <br> 账户绑定号码（北京移动）</p>
					<span><img src="../img/sh_hm.png"></span>
				</div>
				<div class='chongzhi_con'>
					<ul class='huafei'>
						<li><b>10元</b><br><span>售价：10.00元</span></li>
						<li><b>20元</b><br><span>售价：20.00元</span></li>
						<li><b>30元</b><br><span>售价：29.00元</span></li>
						<li><b>50元</b><br><span>售价：48.00元</span></li>
						<li><b>100元</b><br><span>售价：97.00元</span></li>
						<li><b>200元</b><br><span>售价：195.00元</span></li>
						<li><b>300元</b><br><span>售价：290.00元</span></li>
						<li><b>500元</b><br><span>售价：480.00元</span></li>
						<li class='last'></li>
					</ul>
					<ul class='liuliang'>
						<li><b>10M</b><br><span>售价：10.00元</span></li>
						<li><b>20M</b><br><span>售价：20.00元</span></li>
						<li><b>30M</b><br><span>售价：29.00元</span></li>
						<li><b>50M</b><br><span>售价：48.00元</span></li>
						<li><b>100M</b><br><span>售价：97.00元</span></li>
						<li><b>200M</b><br><span>售价：195.00元</span></li>
						<li><b>300M</b><br><span>售价：290.00元</span></li>
						<li><b>500M</b><br><span>售价：480.00元</span></li>
						<li class='last'></li>
					</ul>

				</div>

			</div>		
		</main>
		<footer class="footer">
			<div class='tixian_btn'>确认支付</div>
		</footer>
	</div>

	



		

		





