
	<div class="container" id='container'>
		<header class="header">
			<span class='left' ui-sref='mine'>&#xf053;</span>
			<h1 class='h1'>提现</h1>
			<span class='right_me red'>提现记录</span>
		</header>
		<main class="main" id='main' tixian-s>
			<div class="scroller">
				<h3 class='tixian_h3'>本平台交易资金100%由中国工商银行全程监管</h3>
				<ul class='tixian_list'>
					<li><b>提现金额</b><span>≥1.00</span></li>
					<li><b>免费提现额度</b><span>￥0.00</span></li>
					<li><b>可用金额</b><span>￥0.00</span></li>
					<li><b>提现手续费</b><span>￥0.00</span></li>
				</ul>
				<ul class='tixian_list'>
					<li><b>提现银行卡</b><span><input type="text" placeholder='请绑定一张银行卡'></span></li>
					<li><b>开户支行</b><span><input type="text" placeholder='请输入开户支行'></span></li>
				</ul>
				<ul class='tixian_list'>
					<li><b>交易密码</b><span><input type="text" placeholder='请输入交易密码'></span><small>忘记密码？</small></li>
				</ul>
				<h4 class='guizhe'><!-- <b>&#xf05a;</b> --> <img src="../img/tx1.png"><span>提现规则</span></h4>
				<div class='tixian_btn'>下一步</div>
			</div>		
		</main>
	</div>


