
	<div class="container" id='container'>
		<header class="header">
			<span class='left' ui-sref='mine'>&#xf053;</span>
			<h1 class='h1'>投资</h1>
			
		</header>
		<main class="main" id='main' touzi-s>
			<div class="scroller">
				<h3 class='tixian_h3'>本平台交易资金100%由中国工商银行全程监管</h3>
				<h4 class='guizhe'>您当前可用余额：<b class='red'>5.00</b> 元</h4>
				<ul class='tixian_list'>
					<li><b>投资金额</b><span><input type="text" placeholder='请输入投资金额'></span></li>
				</ul>
				<ul class='tixian_list'>
					<li><b>银行卡号</b><span><input type="text" placeholder='仅支持借记卡'></span></li>
				</ul>
				<h4 class='guizhe'>单笔限额2万元，日限额6万元</h4>
				<div class='tixian_btn'>下一步</div>
				<div class='chongzhi_con'>
					<p>温馨提示：</p>
					<p>1、为保证您的资金安全，您新绑定的银行卡将作为您在移动端唯一的付款以及提现卡。</p>
					<p>2、移动端付款有限额，具体额度以不同银行设置为准。</p>
					<p>3、如需投资大额资金，您可以在线<b>（www,suishou.com）</b>进行投资。</p>
				</div>

			</div>		
		</main>
	</div>

